$background-color: #001530;
$background-content-color: #0d2b49; 
$gold-color: #B98A30;
$white-color: #f4f4f4;
$black-color: #000000;
$blue-color: #06326C;
$green-color: #01B373;
$ligth-color: #b9b9b9;